//Archivo SASS que almacena todo lo referido a FUENTES

//HEAD   Estilo de fuente del título "WALKMANIAC"
$font_head: 'Righteous', cursive;
$color_head: crimson;
$background_head: cornsilk;

//HEAD2  Estilo de fuente del subtítulo "La web de los fanáticos de los Walkmans"
$font_head2: 'Raleway', sans-serif; 
$color_head2: blue;

//HEAD3  Estilo de fuente del título de cada página
$font_head3: 'Space Grotesk', sans-serif;
$color_head3: blue;

//NAVBAR  Estilo de fuente de la barra de navegación
$font_navbar: 'Poppins', sans-serif; // MODIFICAR !!!!!!
$size_navbar: 110%;  //Tamaño DESKTOP

//FOOTER  Estilo de fuente del footer
$font_footer: 'Poppins', sans-serif;
$color_footer: chocolate;

//P  Estilo de fuente de los párrafos
$font_p: 'Open Sans', sans-serif; 

//BODY  Estilo de fuente de las etiquetass BODY
$font_body: 'Raleway', sans-serif;//Verdana, Geneva, Tahoma, sans-serif;
$background_body:  bisque;
$background_text_box:  cornsilk;

//FORM  Estilo de fuente del formulario
$font_form: 'Poppins', sans-serif; // MODIFICAR !!!
$color_form_p: rgb(33, 8, 110);

//BOTONES  Estilo de fuente de los botones del Formulario
$font_boton: 'Poppins', sans-serif; //MODIFICAR !!!
$color_boton:  blue;
$size_boton: 100%;
$background_boton: aquamarine;

//SELECTOR
$font_selector: 'Poppins', sans-serif; // MODIFICAR !!!