/*Importo Fonts de Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&family=Poppins:wght@500&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*Importo mi PARTIAL que contiene las fuentes*/
/*Reseteo*/
* {
  margin: 0%;
  padding: 0%;
}

/*Variables de SASS*/
h1 {
  /*Titulo de todas las paginas (WALKMANIA)*/
  background-color: cornsilk;
  color: crimson;
  text-align: center;
  font-family: "Righteous", cursive;
}

h2 {
  /*Subtitulo FIJO de todas las paginas (La WEB de los.....)*/
  background-color: cornsilk;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 180%;
}

h3 {
  /*Titulo de cada pagina del sitio*/
  text-align: center;
  padding: 5%;
  /* font-size: 30px; */
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  color: blue;
}

h4 {
  /*Solo se utiliza para los Footers*/
  color: chocolate;
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  padding-top: 50px;
}

li { /*Ya no se usa, lo manejo con Bootstrap*/
  display: inline-block;
}

a { /*Ya no se usa para el NAV, lo manejo con Bootstrap*/
  color: crimson;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 2rem;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: bisque;
  margin: 20px;
}

.cuerpo { /*Por ahora solo lo uso para centrar imagenes en el body*/
  display: flex;
  justify-content: center;
}

.contenedor_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(226, 154, 11, 0.915);
  background-color: cornsilk;
  margin-top: 4em;
  margin-left: 10%; /*   "%" funciona MUY bien con RESPONSIVE !!!!     */
  margin-right: 10%;
  padding: 20px;
}

form { /*Formulario de Contacto*/
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 20px;
  text-align: center;
}
form p { /*Paragraph dentro del formulario de conatacto*/
  color: rgb(33, 8, 110);
  font-size: 1.8rem;
  font-weight: bolder;
}
form label {
  padding: 10px;
}

.quienes_somos p {
  text-align: center;
  color: darkblue;
  font-weight: bolder;
  font-size: 1.2rem;
}

.boton { /*Botones del Formulario de Contacto*/
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  color: blue;
  background-color: aquamarine;
  padding: 10px;
  margin: 2rem;
  border-radius: 20%;
  box-shadow: 0px 0px 15px black;
}
.boton:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card { /*Clase de Bootstrap*/
  margin: 25px;
  /* height: 50; */
  border-radius: 25px;
  align-items: center; /*Propiedad que centra las ventanas de YouTube en las CARDS*/
  border: 2px solid black;
  box-shadow: 0px 0px 15px black;
  padding: 20px;
}

.selector {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.centrado, .caja_videos { /*Contenedor de las CARDs*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja_videos { /*Para organizar las miniaturas de YouTube*/
  flex-wrap: wrap;
  gap: 20px;
  background-color: cornsilk;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 20px;
}

.container_links_galeria {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: cornsilk;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0px;
}
.container_links_galeria .links-gallery { /*Iconos de Fotos y Videos*/
  display: flex;
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0px gray;
}
.container_links_galeria .links-gallery:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

#navbarNavAltMarkup { /*Redefino la CLASE y el ID de BOOTSTRAP*/
  justify-content: right;
}
#navbarNavAltMarkup .navbar-nav {
  font-family: "Poppins", sans-serif;
  font-size: 110%;
}
#navbarNavAltMarkup .navbar-nav .nav-link:hover {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: lavender;
}

/*@media screen and (max-width: 700px){
    .galeria{
        align-items: center;
        flex-direction: column;
    }
}*/
@media screen and (max-width: 620px) {
  .galeria {
    align-items: center;
    flex-direction: column;
  }
  #top {
    font-size: 2rem;
  }
  h2 {
    font-size: 120%;
  }
  p {
    font-size: 1rem;
  }
  .quienes_somos p {
    font-size: 0.8rem;
  }
  form {
    font-size: 1rem;
  }
  form p {
    font-size: 1.3rem;
  }
}
footer {
  margin-top: 100px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
